# Analysis of Indian Voice Call Quality Customer Experience

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

## Loading the Dataset

In [2]:
# The dataset is loaded from CSV files

# Loading CSV files into a Pandas DataFrame
january_df = pd.read_csv('January_MyCall_2023.csv')
february_df = pd.read_csv('February_MyCall_2023.csv')
march_df = pd.read_csv('March_MyCall_2023.csv')
april_df = pd.read_csv('April_MyCall_2023.csv')
may_df = pd.read_csv('May_MyCall_2023.csv')
june_df = pd.read_csv('June_MyCall_2023.csv')
july_df = pd.read_csv('July_MyCall_2023.csv')
august_df = pd.read_csv('August_MyCall_2023.csv')
september_df = pd.read_csv('September_MyCall_2023.csv')
october_df = pd.read_csv('October_MyCall_2023.csv')

In [3]:
# Combining all monthly DataFrames into one
combined_df = pd.concat([january_df, february_df, march_df, april_df, may_df, june_df, july_df, august_df, september_df, october_df])

## Exploratory Data Analysis and Data Cleaning

In [4]:
combined_df.head()

,operator,inout_travelling,network_type,rating,calldrop_category,latitude,longitude,state_name
0,RJio,Travelling,4G,3,Satisfactory,-1.00000,-1.000000,NaN
1,RJio,Travelling,4G,3,Satisfactory,-1.00000,-1.000000,NaN
2,RJio,Travelling,4G,3,Satisfactory,-1.00000,-1.000000,NaN
3,RJio,Travelling,4G,3,Satisfactory,-1.00000,-1.000000,NaN
4,Airtel,Outdoor,4G,1,Poor Voice Quality,10.81888,77.206713,Tamil Nadu

In [5]:
combined_df.tail()

,operator,inout_travelling,network_type,rating,calldrop_category,latitude,longitude,state_name
162,Airtel,Indoor,4G,4,Satisfactory,13.199518,77.708385,Karnataka
163,RJio,Indoor,4G,5,Satisfactory,12.956590,77.489652,Karnataka
164,BSNL,Indoor,Unknown,5,Satisfactory,-1.000000,-1.000000,NaN
165,Airtel,Indoor,4G,1,Poor Voice Quality,28.579051,77.528410,Uttar Pradesh
166,Airtel,Outdoor,4G,4,Satisfactory,-1.000000,-1.000000,NaN

In [6]:
# Checking the structure of the dataset to ensure proper dataset
print(combined_df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 5098 entries, 0 to 166
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   operator           5098 non-null   object
 1   inout_travelling   5098 non-null   object
 2   network_type       5098 non-null   object
 3   rating             5098 non-null   int64
 4   calldrop_category  5098 non-null   object
 5   latitude           5098 non-null   float64
 6   longitude          5098 non-null   float64
 7   state_name         3458 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 358.5+ KB
None

In [7]:
# Summar
print(combined_df.describe())

            rating     latitude    longitude
count  5098.000000  5098.000000  5098.000000
mean      3.276971    13.664618    51.854102
std       1.545016    11.620941    36.508925
min       1.000000    -1.000000    -1.100000
25%       2.000000    -1.000000    -1.000000
50%       3.000000    13.072591    74.616763
75%       5.000000    22.655439    78.179927
max       5.000000    34.204490    88.821348

## Data Analysis

#### 1. Which operator is best rated in each state overall?

In [8]:
# Calculating overall ratings by state and operator
overall_ratings = combined_df.groupby(['state_name', 'operator'])['rating'].mean().reset_index()

# Finding the best rated operator in each state overall
best_operator_overall = overall_ratings.loc[overall_ratings.groupby('state_name')['rating'].idxmax()]

# Results
print("Best Rated Operator by State Overall:")
print(best_operator_overall)

Best Rated Operator by State Overall:
        state_name operator    rating
2   Andhra Pradesh       VI  5.000000
4            Bihar     RJio  2.181818
6       Chandigarh     RJio  1.000000
8     Chhattisgarh     RJio  5.000000
9            Delhi   Airtel  5.000000
10             Goa       VI  5.000000
13         Gujarat       VI  3.640000
15         Haryana       VI  2.000000
16       Jharkhand   Airtel  4.783784
19       Karnataka     RJio  4.794702
21         Kashmir       VI  5.000000
23          Kerala     RJio  5.000000
25  Madhya Pradesh   Airtel  4.000000
30     Maharashtra       VI  3.838806
31             NCT   Airtel  5.000000
34          Odisha     RJio  5.000000
36          Punjab       VI  5.000000
38       Rajasthan     RJio  3.793651
41      Tamil Nadu     BSNL  5.000000
43       Telangana   Airtel  5.000000
46      Unnamed: 7       VI  3.000000
48   Uttar Pradesh     BSNL  5.000000
52     Uttarakhand     RJio  2.853731
55     West Bengal     RJio  4.090909

### 2. Which operator is best rated in each state in terms of indoor, outdoor and travelling environment?

In [9]:
# Calculating ratings by state, operator, and inout_travelling
ratings_by_inout = combined_df.groupby(['state_name', 'operator', 'inout_travelling'])['rating'].mean().reset_index()

# Finding the index of the maximum rating for each state and inout_travelling category
idx_inout = ratings_by_inout.groupby(['state_name', 'inout_travelling'])['rating'].transform(max) == ratings_by_inout['rating']

# Selecting rows where the index is maximum (i.e., best rated operator in each state and inout_travelling category)
best_operator_by_inout = ratings_by_inout[idx_inout]

# Results
print("Best rated operator by state and inout_travelling (Indoor/Outdoor/Travelling):")
print(best_operator_by_inout)

Best rated operator by state and inout_travelling (Indoor/Outdoor/Travelling):
         state_name operator inout_travelling    rating
1    Andhra Pradesh   Airtel          Outdoor  1.000000
3    Andhra Pradesh     RJio           Indoor  2.000000
4    Andhra Pradesh       VI       Travelling  5.000000
8             Bihar     RJio           Indoor  2.500000
10            Bihar     RJio       Travelling  2.571429
..              ...      ...              ...       ...
107     Uttarakhand     RJio          Outdoor  2.673077
108     Uttarakhand     RJio       Travelling  3.000000
111     West Bengal     BSNL          Outdoor  3.600000
113     West Bengal     RJio           Indoor  4.500000
115     West Bengal     RJio       Travelling  5.000000

[67 rows x 4 columns]

### 3. Is there any correlation between network type and rating?

In [10]:
# Since network_type column has categorical values, we create a mapping for network_type to convert categorical values to numerical
network_type_mapping = {
    'unknown': 0,  # Assign 0 for unknown network type
    '2G': 1,       # Assign 1 for 2G network type
    '3G': 2,       # Assign 2 for 3G network type
    '4G': 3        # Assign 3 for 4G network type
}

# Applying the mapping to create a new numerical column 'network_type_numeric'
combined_df['network_type_numeric'] = combined_df['network_type'].map(network_type_mapping)

# Calculating the correlation between network_type_numeric and rating
correlation = combined_df['network_type_numeric'].corr(combined_df['rating'])

# Results
print(f"The correlation coefficient between network type and rating is: {correlation}")

The correlation coefficient between network type and rating is: 0.07644955031450838

### 4. Is call drop correlated with the rating?

In [11]:
# Converting 'calldrop_category' to a binary column to get the number of call drops in our data
combined_df['call_dropped'] = combined_df['calldrop_category'].apply(lambda x: 1 if x.strip() == 'Call Dropped' else 0)

# Calculating the correlation coefficient
correlation = combined_df['call_dropped'].corr(combined_df['rating'])

# Correlation coefficient
print("Correlation between call_dropped and rating:", correlation)

# Pearson correlation test
correlation, p_value = stats.pearsonr(combined_df['call_dropped'], combined_df['rating'])

# Results
print("Pearson correlation coefficient:", correlation)
print("P-value:", p_value)

# Interpreting the p-value
alpha = 0.05  # this is the 5% level of significance
if p_value < alpha:
    print("Reject the null hypothesis. There is a significant correlation between call drops and rating.")
else:
    print("Fail to reject the null hypothesis. There is no significant correlation between call drops and rating.")

Correlation between call_dropped and rating: -0.360831774434962
Pearson correlation coefficient: -0.3608317744349627
P-value: 1.3540024999831756e-156
Reject the null hypothesis. There is a significant correlation between call drops and rating.

### 5. Where do we see more call drops - outside or inside?

In [12]:

# Getting rows where calldrop_category is 'Call Dropped'
call_dropped_df = combined_df[combined_df['calldrop_category'] == 'Call Dropped']

# Counting call drops for each inout_travelling category
call_drops_counts = call_dropped_df['inout_travelling'].value_counts()

# Results
print("Call drop counts for each environment (inout_travelling):")
print(call_drops_counts)

Call drop counts for each environment (inout_travelling):
inout_travelling
Indoor        201
Outdoor       127
Travelling     24
Name: count, dtype: int64

### 6. Is there any association between the environment (indoor/outdoor) and call drops?

In [13]:
import scipy.stats as stats

# Contingency table for call drops and inout_travelling
contingency_table = pd.crosstab(combined_df['inout_travelling'], combined_df['calldrop_category'] == 'Call Dropped')

# Chi-square test of independence
chi2, p, dof, expected = stats.chi2_contingency(contingency_table)

# Results
print(f"Chi-square statistic: {chi2}")
print(f"P-value: {p}")

# Interpreting the results
alpha = 0.05
if p < alpha:
    print("Reject the null hypothesis: There is a significant association between the environment (indoor/outdoor) and call drops.")
else:
    print("Fail to reject the null hypothesis: There is no significant association between the environment (indoor/outdoor) and call drops.")

Chi-square statistic: 36.542986258776025
P-value: 1.160890768794985e-08
Reject the null hypothesis: There is a significant association between the environment (indoor/outdoor) and call drops.

In [14]:
# Average rating for Delhi state
average_rating_delhi = combined_df[combined_df['state_name'] == 'Delhi']['rating'].mean()


print(f"The average rating for Delhi state is: {average_rating_delhi}")

The average rating for Delhi state is: 5.0